<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">

    <title>Amor de chocolate</title>

  <body>

        <nav class="white #263238 blue-grey darken-4
     z-depth-5" role="navigation">
           <div class="nav-wrapper container">
             <a id="logo-container" href="#" class="brand-logo white-text text-white-4">Bienvenida mi amor</a>
             <ul class="right hide-on-med-and-down">
               <li><a href="#" class="white-text text-white-4">1 año y vamos por más</a></li>
             </ul>

             <ul id="nav-mobile" class="side-nav">
               <li><a href="#"></a></li>
             </ul>
             <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"></i></a>
           </div>
         </nav>


    <section class="seccion1" data-type="parallax_section" data-speed="10">
      <div class="container">
           <br><br>
           <h1 class="header center teal-text text-lighten-2">Gracias por 1 año a mi lado</h1>
           <div class="row center">
             <h5 class="header col s12 light">Recordemos un poco como incio lo nuetro</h5>
           </div>
           <div class="row center">
             <div class="video-container">

            <iframe width="360" height="115" class="responsive-video" src="https://www.youtube.com/embed/VdNW2vi-PIY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media loop=1" allowfullscreen></iframe>
          </div>
           </div>
           <br><br>
         </div>
        </section>

        <section>
          <!--   Icon Section   -->

          <div class="row" >
             <h1 class="header center teal-text text-lighten-2">Nuestras Primeras Fotos</h1>
             <img class="responsive-img"src="<%= asset_path 'divider.png' %>">
             <br><br>
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img"src="<%= asset_path 'foto1.jpg' %>"></h2>
                <h5 class="center">Caminando por el pabellón de las copias</h5>

                <p class="light">Recuerdo este dia que tu y yo salimos de clases , caminamos despacio para conocernos un poco mas pero, de pronto, saqué mi celular por que queria una foto contigo </p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                  <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img" width="360" height="290" src="<%= asset_path 'foto2.jpg' %>"></h2>
                <h5 class="center">En Arquitectura </h5>

                <p class="light">Este fue uno de los momentos que me gustó mucho de nuestro incios , por que me gusta que tomes iniciativa de tomarte fotos conmigo</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                              <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img" width="290" height="230" src="<%= asset_path 'foto3.jpg' %>"></h2>
                <h5 class="center">^.^ MASAYA ^.^</h5>

                <p class="light">Ya en este punto me sentia super feliz de que tu vinieras a mi casa a visitarme , me senti muy muy feliz que mis padres te conocieran</p>
              </div>
            </div>
          </div>

        </div>
        <br><br>
      </div>
        </section>

        <section  class="center" data-type="parallax_section " data-speed="10">
      			<article>
    <img class="z-depth-5 responsive-img center" src="<%= asset_path 'Fondo1.jpg' %>">
            </article>
      		</section>

          <section>
            <!--   Icon Section   -->
            <h1 class="header center teal-text text-lighten-2">Tenemos Varias Cosas En Común</h1>
            <div class="row center">
              <h5 class="header col s12 light">Por si lo olvidaste dejame recordarte una, Coffee</h5>
            </div>
            <img class="responsive-img"src="<%= asset_path 'divider.png' %>">
            <br><br>
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block center">
                      <img class="responsive-img" width="230" height="160" src="<%= asset_path 'cafe1.jpg' %>">
                  <h5 class="center">Casa Del Café</h5>

                  <p class="light">Siempre quise conocer lugar asi de bonitos y tomar café asi de rico gracias por darme ese gusto mi amor .</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center light-blue-text"><i class="material-icons">Café</i></h2>
                  <h5 class="center">Gustos en Común</h5>

                  <p class="light">Eres la mejor compañia para acompañar una taza de café       TE AMO.</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
          <img class="responsive-img" width="330" height="260" src="<%= asset_path 'cafe2.jpg' %>">
                  <h5 class="center">Casa Del Café</h5>

                  <p class="light">Con la ayuda de Dios seguiremos dandonos los lujos que querraos amor mio , se que llegaremos lejos.</p>
                </div>
              </div>
            </div>
          </section>

          <section  class="center" data-type="parallax_section " data-speed="10">
        			<article>
      <img class="z-depth-5 responsive-img center" src="<%= asset_path 'cafe.jpg' %>">
              </article>
        		</section>
            <!--   Icon Section   -->

            <div class="row" >
               <h1 class="header center teal-text text-lighten-2">Algunas Salidas</h1>
               <img class="responsive-img"src="<%= asset_path 'divider.png' %>">
               <br><br>
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img"  width="270" height="190"  src="<%= asset_path 'foto4.jpg' %>"></h2>
                  <h5 class="center">Pupusas</h5>

                  <p class="light">¿Como olvidar la vez que fuimos por pupusas? , recuerdo que fui a traerte a tu trabajo en SEVASA y luego caminamos al establecimiento de las pupusas donde pasamos un rato alegre , molestando con que si te comes 2 o 3 pupusa.  </p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img"width="270" height="190"  src="<%= asset_path 'foto5.jpg' %>"></h2>
                  <h5 class="center">Subway </h5>

                  <p class="light">Gracias por la invitación amor, ese dia me sentí extraño, agradezco ese gesto que tienes conmigo, desde ese momento fui haciendome a la idea que tu también puedes invitarme, PERDÓN POR SER ALGO MACHISTA EN ESO</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                                <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img" width="380" height="300" src="<%= asset_path 'foto6.jpg' %>"></h2>
                  <h5 class="center">Cine</h5>

                  <p class="light">Contigo se disfrutan mejor las peliculas , nada mejor que una buena compañera , preciosa , hermosa y sobre todo dueña de mi corazón.</p>
                </div>
              </div>
            </div>

          </div>
          <br><br>
          </div>


          <section  class="center" data-type="parallax_section " data-speed="10">
        			<article>
      <img class="z-depth-5 responsive-img center" src="<%= asset_path '6.jpg' %>">
              </article>
        		</section>
            <!--   Icon Section   -->

            <div class="row" >
               <h1 class="header center teal-text text-lighten-2">De corazón te lo agradezco</h1>
               <img class="responsive-img"src="<%= asset_path 'divider.png' %>">
               <br><br>
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img"  width="270" height="190"  src="<%= asset_path 'foto7.jpg' %>"></h2>
                  <h5 class="center">Pizza</h5>

                  <p class="light">Gracias por tomarte el tiempo de conocer a mi familia ,no tengo como agradecertelo.</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img"width="270" height="190"  src="<%= asset_path 'foto8.jpg' %>"></h2>
                  <h5 class="center">Plaza Paseo</h5>

                  <p class="light">Con lagrimas en mis ojos te escribo esto : Gracias amor, GRACIAS por que apesar que no tengo la familia más importante ni la más culta , tu te encargaste de conocerlos y brindarles tu amistad, créeme q cuando te digo que les caes bien te lo digo de corazón. </p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                                <h2 class="center light-blue-text"><img class="z-depth-5 responsive-img" width="285" height="240" src="<%= asset_path 'foto9.jpg' %>"></h2>
                  <h5 class="center">Laguna de Apoyo</h5>

                  <p class="light">Fue un día espectacular amor, te agradezco el tiempo de calidad que pasas con mi familia y conmigo, espero no te bombardearan de preguntas cuando te deje sola con ellos.</p>
                </div>
              </div>
            </div>

            </div>
            <br><br>
            </div>

            <section  class="center" data-type="parallax_section " data-speed="10">
          			<article>
        <img class="z-depth-5 responsive-img center" src="<%= asset_path '1.jpg' %>">
                </article>
          		</section>

              <img class="responsive-img"src="<%= asset_path 'divider.png' %>">
              <h1 class="header center teal-text text-lighten-2">Gracias por todos los momentos bellos que paso junto a ti.</h1>
              <img class="responsive-img"src="<%= asset_path 'divider.png' %>">
              <div class="video-container">
    <iframe class="center" width="560" height="315" src="https://www.youtube.com/embed/KhoFnq4Wfy0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  </body>

</html>
